<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <title>Home</title>
</head>
<body>

<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="./home.html">myPets.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/mascotas/listarAll">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/mascotas/listar/perros">Dogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/mascotas/listar/gatos">Cats</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="col-12">
        <div class="row">




            <div class="form-check form-switch mt-3">
                <input class="form-check-input" type="checkbox" id="isAdoption" th:onclick="stateCats()" th:checked="${status}">
                <label class="form-check-label" for="isAdoption">En adopcion</label>
            </div>

            <div class="card mt-3" style="width: 18rem;" th:each="tmpList: ${subListaGatitos}">
                <img th:src="@{/images/{i} (i=${tmpList.imagen})}" width="126" height="126" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" th:text="${tmpList.nombre}"></h5>
                    <p class="card-text" th:text="${tmpList.disponibleAdopcion} ? 'En adopción' : 'No en adopción'"></p>
                </div>
            </div>

        </div>
    </div>



</div>



<script th:inline="javascript">

    const stateCats = ()=> {
        let estado = [[${status}]];
        let url = "";
        if (!estado){
            url = `http://localhost:8080/mascotas/listar/gatos/true`
        }else if (estado){
            url = `http://localhost:8080/mascotas/listar/gatos`
        }
        window.location.replace(url);
    }



    $(document).ready(function(){
        var url = window.location.pathname;
        $('.navbar-nav a[href="'+url+'"]').addClass('active');
    });



</script>


</body>
</html>