.cafe1{
	background-color: #F9B86D;
	font-size: 15px;
}

.cafe2{
	background-color: #784811;
	font-size: 15px;
}

.cafe3{
	background-color: #F79423;
	font-size: 15px;
}

.cafe4{
	background-color: #785935;
	font-size: 15px;
}

.cafe5{
	background-color: #C6751B;
	font-size: 15px;
}
